a {
	color: black;
}

header {
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	position: fixed;
  	width: 100%;
  	border-bottom: 1px solid black;
  	background-color: white;
  	height: 80px;
  	z-index: 20;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.logo img {
	margin-right: 12px;
}

.logo span {
	color: MediumAquamarine;
}

.navigation {
	padding-right: 40px;
}

.navigation span {
	display: inline-block;
	padding: 20px 10px;
}

.main-content {
	display: flex;
	position: relative;
	padding-top: 116px;
	width: 100%;
}

.main-content div {
	border: 1px solid black;
}

.column {
	display: flex;
	flex-direction: column;
	padding-right: 32px;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}

.image-story {
	height: 300px;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
}

.main-story .image-story {
	background-image: url(../images/img-story-main.png);
	width: 630px;
	font-size: 40px;
	text-align: left;
}

.image-story .img-story-1 {
	background-image: url(../images/img-story-1.png);
}

.image-story.img-story-2 {
	background-image: url(../images/img-story-2.png);
}

.image-story.img-story-3 {
	background-image: url(../images/img-story-3.png);
}