body, a {
	color: black;
}

header, footer, div, nav {
	display: block;
}

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 5;
	top: 0px;
  	width: 100%;
  	border-bottom: 1px solid black;
  	background-color: white;
  	height: 80px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
}

.logo img {
	margin-right: 12px;
}

.logo span {
	color: MediumAquamarine;
}

.header nav {
	padding-right: 40px;
}

.header nav a {
	display: inline-block;
	padding: 20px 10px;
}

.content-container {
	display: flex;
	justify-content: center;
	margin: 0 auto 78px auto;
	padding-top: 116px; 
	width: 100%;
	font-family: Georgia;
	font-size: 17px;
	color: black;
}


.column {
	display: flex;
	flex-direction: column;
}

.lg.column {
	width: 630px;
	margin-right: 32px;
}

.md.column {
	width: 300px;
	margin-right: 32px;
}

.sm.column {
	width: 240px;
	margin-right: 32px;
}


.main-story {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.more-stories {
	display: flex;
	justify-content: space-between;
}

.story {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.more-stories .text {
	height: 250px;
}

.narrative {
	margin-top: 16px;
}

.news-bites {

}

.news-bites h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
}

.news-bites .nb {
	display: block;
	border-bottom: 1px solid black;
	padding: 11px 20px;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
}


/* IMAGES */

.image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
}

.main-story .image {
	background-image: url(../images/img-story-main.png);
	text-align: left;
	font-size: 40px;
}

.image.story-1 {
	background-image: url(../images/img-story-1.png);
}

.image.story-2 {
	background-image: url(../images/img-story-2.png);
}

.image.story-3 {
	background-image: url(../images/img-story-3.png);
}

.image.news-bite {
	height: 240px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 325px;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
}

footer .title {
	display: inline-block;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-right: 25px;
	border-right: 2px solid white;
}

footer nav {
	display: inline-block;
	padding-left: 25px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}